body {
  padding: 0;
  margin: 0;
}
/* .bar a {
  text-decoration: none;
  color: white;
} */
.bar {
  padding: 0;
  background-color: purple;
  padding: 20px;
}
.navbar {
  text-decoration: none;
  padding-left: 80px;
  font-size: 28px;
}
.flag {
  width: 35px;
  padding-right: 15px;
}
.container {
}
.countries {
  margin-left: 45%;
}
